h4 {
	font-family: monospace;
}
.panel, .panel-heading, .panel-body {
  border: none !important;
}

ul {
	padding-left: 20px;
}

.table-borderless td, .table-borderless th {
    border: none !important;
}

#contact-table {
  margin-bottom: 0px;
}

#name {
  margin-bottom: 0px;
  font-family: monospace;
}

/* code-looking panel titles */
.panel-heading {
  font-family: monospace;
}

/* indent dd's */

dd {
  margin-left: 1em;
  margin-bottom: 0.5em;
}

/* pad top and bottom of page */

#footer {
  padding-bottom: 1em;
}

#header {
  padding-top: 1em;
}

@media print {
	#contact-table {
		margin-bottom: 10px !important;
	}

	hr {
	  margin-top: 0px;
	  margin-bottom: 0px;
	}

	.panel {
		margin-bottom: 0px;
	}

	.panel-body, .panel-heading {
		padding: 0px;
	}

	.panel-title {
		font-weight: bold !important;
		font-size: 18px !important;
	}

	.table-condensed>tbody>tr>td {
		padding-top: 0px;
		padding-bottom: 0px;
	}

	.text-primary, .text-primary>strong {
		/*color: #325d88 !important;*/
	}

	p>strong {
		font-weight: normal;
	}

	#interests {
		margin-top: 10px !important;
	}

	dt {
		font-weight: normal;
	}
}
